:root {
  --primary-green: #4CAF50;
  --secondary-green: #66BB6A;
  --background-light: #F4F4F4;
  --text-dark: #2E2E2E;
  --accent-orange: #FFB74D;
  --accent-blue: #4FC3F7;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
  button {
    width: 8vw;
    height: 2vh;
    font-size: 5vh;
    text-align: center;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  button {
    width: 20vw;
    height: 10vh;
    font-size: 1vh;
  }
}

body {
  background-color: var(--background-light);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font: bold 1.5rem 'Poppins', sans-serif;
}

p {
  font: bold 1.0rem 'Poppins', sans-serif;
  margin-bottom: 2rem;
}

#div-animada {
  background-color: var(--background-light);
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out; /* Aplica a animação a todas as propriedades */
}

#div-animada:hover {
  background-color: var(--secondary-green);
  border-color: var(--accent-orange);
  transform: scale(1.05); /* Leve zoom ao passar o mouse */
}

#linha-vertical {
  height: 50vh; /*Altura da linha*/
  border-left: 2px solid; /* Adiciona borda esquerda na div como ser fosse uma linha.*/
}

#menu_button {
  width: 1vw;
  min-width: 4vw;
}

#navbar {
  background-color: var(--primary-green);
  color: var(--background-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;

  padding-left: 10vh;
  padding-right: 10vh;
}

#navbar button {
  background: var(--secondary-green);
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  transition: all 0.3s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;

  border: var(--background-light) 1px solid;
} 

#navbar button:hover {
  background-color: var(--background-light);
  color: var(--text-dark);
}

#navbar button:active {
  background-color: var(--accent-blue);
  transform: scale(0.95);
  transition: 15ms linear;
}

#card {
  background: var(--background-light);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 16px;
  transition: transform 0.2s ease-in-out;
}

#card:hover {
  transform: scale(1.05);
}
