:root {
    --input-bg-color: rgb(202, 202, 202);
    --input-text-color: rgb(1, 29, 1);
    --input-hover-text-color: black;
    --link-text-color: rgb(10, 10, 10);
    --link-bg-color: rgb(241, 241, 241);
    --link-hover-bg-color: rgb(202, 202, 202);
    --box-shadow-color: rgba(0, 0, 0);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

input {
    border-radius: 10px;
    background-color: var(--input-bg-color);
    padding: 10px;
    color: var(--input-text-color);
    font-size: 1.2rem;
    box-shadow: 0 0 2px var(--box-shadow-color);
}

input:hover {
    color: var(--input-hover-text-color);
}

a {
    color: var(--link-text-color);
    padding: 4px;
    background-color: var(--link-bg-color);
    border-radius: 10px;
    box-shadow: 1px 1px 2px var(--box-shadow-color);
}

a:hover {
    background-color: var(--link-hover-bg-color);
}